
.content {
  padding: 5rem 2rem;
}
.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
.summary {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}
@media only screen and (max-width: 900px) {
  .content {
    padding: 5rem 0.25rem;
  }
  .main,
  .summary {
    grid-template-columns: auto;
  }
}
